.icon-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.svg-icon {
	width: 3rem;
	margin: 1rem;
}
.svg-icon path {
	transition: 250ms;
	fill: purple;
}
.svg-icon:hover {
	background: yellow;
}
.svg-icon:hover path {
	fill: blue;
}
.svg-icon.youtube:hover path {
	fill: red;
}
